.singlepage-wrapper{
    width: 100%;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-user{
  position: relative;
    padding: 20px 40px;
    width: 800px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single-user img{
    width: 160px;
    height: 160px;
    object-fit: contain;
}

.single-user-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 14px;
  width: 100px;
  font-weight: 800;
  line-height: 14px;
  min-height: 20px;
  outline: 0;
  padding: 10px 12px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  text-decoration: none;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.loaderr {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #4B91F7 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

